<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>
  <body>
    <h1>ゴーヤの情報</h1>
    <% require 'pg' %>
    <% connection = PG::connect(dbname: "goya") %>
    <% connection.internal_encoding = "UTF-8" %>

    <% result_give = connection.exec("select weight,give_for from crops WHERE give_for != '自家消費';") %>
    <% data_give = [] %>
    <% result_give.each do |record_give| %>
      <%  data_give << "ゴーヤの大きさ：#{record_give["weight"]}　自家消費意外に売った相手：#{record_give["give_for"]}" %>
    <% end %>
    <form action="webgoya_one.cgi" method="POST">
       下記のボタンを押すと、自家消費以外に売った相手の情報とそのゴーヤの大きさの情報ページに飛びます<br><br>
       <!-- valueには、送りたいデータを代入する -->
       <!-- name="goya"を、情報の目印とする -->
      <input type="text" name="goya_give" value="<%= data_give.join(' ') %>">
      <input type="submit" name="送信" >
    </form>

    <% result_quality = connection.exec("select weight,quality from crops WHERE quality = false;") %>
    <% data_false = [] %>
    <% result_quality.each do |record_quality| %>
      <%  data_false << "品質が悪いゴーヤの大きさ：#{record_quality["weight"]} ゴーヤの質:#{record_quality["quality"]}" %>
    <% end %>
    <form action="webgoya_two.cgi" method="POST">
       下記のボタンを押すと、品質が悪いゴーヤの大きさの情報ページに飛びます<br><br>
       <!-- valueには、送りたいデータを代入する -->
       <!-- name="goya"を、情報の目印とする -->
      <input type="text" name="goya_false" value="<%= data_false.join(' ') %>">
      <input type="submit" name="送信" >
    </form>
  </body>
</html>
